RewriteEngine On
RewriteBase /teachres/

RewriteRule ^search/?$ search.php [PT,L]
RewriteRule ^manage/?$ manage.php [PT,L]
RewriteRule ^manageplans/?$ plans.php?admin [PT,L]
RewriteRule ^managefiles/?$ files.php?admin [PT,L]
RewriteRule ^plans/?$ plans.php [PT,L]
RewriteRule ^plan/(.*?)/?$ plan.php?id=$1 [PT,L]
RewriteRule ^newplan/?$ planedit.php?type=add [PT,L]
RewriteRule ^editplan/(.*?)/?$ planedit.php?type=edit&id=$1 [PT,L]
RewriteRule ^files/?$ files.php [PT,L]
RewriteRule ^file/(.*?)/??$ file.php?id=$1 [PT,L]
RewriteRule ^newfile/?$ fileupload.php [PT,L]
RewriteRule ^editfile/(.*?)/?$ fileedit.php?id=$1 [PT,L]
RewriteRule ^download/(.*?)/?$ download.php?id=$1 [PT,L]
