php_value upload_max_filesize 256M
php_value post_max_size 256M
php_value memory_limit 256M
php_value max_input_time 600
php_value max_execution_time 600

Options All -Indexes

RewriteEngine On
RewriteBase /teachres/

RewriteRule ^manageplans/?$ plans.php?admin [PT,L]
RewriteRule ^managefiles/?$ files.php?admin [PT,L]
RewriteRule ^plans/?$ plans.php [PT,L]
RewriteRule ^plan/(.*?)/?$ plan.php?ids=$1 [PT,L]
RewriteRule ^newplan/?$ planedit.php?type=add [PT,L]
RewriteRule ^editplan/(.*?)/?$ planedit.php?type=edit&id=$1 [PT,L]
RewriteRule ^editplans/(.*?)/?$ planeditmulti.php?ids=$1 [PT,L]
RewriteRule ^files/?$ files.php [PT,L]
RewriteRule ^file/(.*?)/??$ file.php?id=$1 [PT,L]
RewriteRule ^newfile/?$ fileupload.php [PT,L]
RewriteRule ^editfile/(.*?)/?$ fileedit.php?id=$1 [PT,L]
RewriteRule ^download/(.*?)/?$ download.php?id=$1 [PT,L]
RewriteRule ^pickfile/?$ files.php?admin&pick [PT,L]
RewriteRule ^account/?$ account.php [PT,L]
RewriteRule ^login/?$ login.php?action=login [PT,L]
RewriteRule ^logout/?$ login.php?action=logout [PT,L]

RedirectMatch 404 /\.git

Header set X-Frame-Options "sameorigin"
